/* Form Div */
.formDiv {
    width: 925px;
    height: 445px;
}

/**/
.form {
    margin-top: 15px;
}

/* Title, name, email input div */
.formColumn {
    display: flex;
    flex-direction: column;
}

/* Input form */
.formInput {
    font-size: 2.188rem;
    width: 96.5%;
    height: 68px;
    margin: 11px 10px 0px 10px;
    padding-left: 5px;
    border: none;
    border-left: 5px solid #FFBE61;
}

/* Textarea input div*/
.textareaColumn {
    display: flex;
    flex-direction: column;
    margin-left: 11px;
    margin-top: 10px;
}

/* Textarea */
.textarea {
    border: none;
    font-size: 2.188rem;
    border-left: 5px solid #FFBE61;
}

/* a href btn */
.aBtn {
    height: fit-content;
    margin-left: 5px;
}

/* Submit button */
.submitBtn {
    width: 297px;
    height: 85px;
    color: white;
    font-size: 2.88rem;
    text-align: center;
    float: right;
    margin: 5px 15px;
}

/**/
.contactColor {
    background-color: #A8CCEB;
}

/**/
.supportColor {
    background-color: #9AE5A6 ;
}

/**/
.submitColor {
    background-color: #FFBE61;
}

/* Submit text */
.submitText {
    margin-top: 20px;
}