/* Orangje top bar */
.topBar {
    background-color: #FFB040;
    width: 100%;
    height: 204px;
    position: absolute;
}

/* Container */
.container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 102px;
    max-width: 1560px;
    margin: 0 auto;
    z-index: 1;
}

/* Header */
.header {
    width: 100%;
    height: 222px;
    z-index: 2;
    display: flex;
    flex-direction: row;
    background-image: url(../image/titleBg.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 10px;
}

/* Logo image */
.logo {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    background-color: transparent;
}

/* We are AedionStudio text div */
.weAreDiv {
    margin: auto 0px;
}

/* First text */
.firstHeaderText {
    font-size: 2.875rem;
    color: #707070;
}

/* Second text */
.secondHeaderText {
    font-size: 2.875rem;
    font-weight: 900;
    opacity: 1;
    color: #FFA92E;
}

@keyframes animate {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* .secondHeaderText {
    animation: animate 3.95s infinite;
} */

/* Header buttons */
.buttonsDiv {
    margin-left: auto;
    margin-top: 100px;
    margin-right: 100px;
    display: flex;
    background-color: transparent;
}

.btnCareer, .btnContact {
    background-color: #FFFFFF;
    width: 304px;
    height: 76px;
    margin-right: 15px;
    margin: 15px;
    text-align: center;
}

.headerBtnTxt {
    padding-top: 15px;
    font-size: 2.625rem;
    color: #6D6D6D;
}