/* media query iphone */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .topBar {
        height: 78px;
    }

    .header {
        width: 353px;
        height: 72px;
        margin: 0 auto;
        margin-top: -80px;
    }
}

/* media query ipad */
/* @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
    html {
        flex: 0 0 100%;
        display: flex;
    }
} */