/* Everythinh on deftault */
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: #E4E4E4;
    font-family: 'Oxanium', cursive;
}

html {
    zoom: 80%;
}

.gif {
    z-index: 10;
    background-image: url(../image/testing.gif);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* Background color white */
.bgWhite {
    background-color: white;
}

a, a:active, a:hover, a:focus, a:visited {
    text-decoration: none;
    color: #707070;
}

a:visited {
    color: #707070;
}

/* Space */
.gap {
    width: 100%;
    height: 10px;
}

.flex {
    display: flex;
}

/* Create a row */
.row {
    display: flex;
    flex-direction: row;
}

/* Column */
.column {
    display: flex;
    flex-direction: column;
}

/* Transparant background color */
.transparant {
    background-color: transparent;
}

.subscrBtn {
    background: #FFBE61;
    border: none;
    padding: 5px;
    font-size: 20px;
}

/* Create subject div */
.newSubject {
    width: 100%;
    height: 98px;
    border-left: 13px solid #ffbe61;
    padding-left: 25px;
    background-image: url(../image/header.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
    font-size: 40px;
    font-weight: 500;
    color: #707070;
}

.submitFormBtn {
    width: 297px;
    height: 85px;
    border: none;
    color: white;
    margin: 10px 15px;
    text-align: center;
    font-size: 2.88rem;
    box-shadow: -3px 3px 10px #888888;
    padding-top: 10px;
    cursor: pointer;
}

input::placeholder, input, textarea, option, select, .pricingTitle, .eulaText, .blogText, .summaryText {
    color: #707070;
}

input::placeholder, input, textarea, option, select {
    font-weight: 200;
}

/* Box shadow */
.boxShadow {
    box-shadow: -3px 3px 10px #888888;
}

/* Width 100%*/
.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

/* Vertical ag*/
.vrAlign {
    display: flex;
    justify-content: start;
    align-items: center;
}

/* Text of newSubject */
.headerText {
    margin-top: 27px;
}

/* Flex wrap */
.wrap {
    display: flex;
    flex-wrap: wrap;
}

/* Cursor click mode */
.pointer {
    cursor: pointer;
}

/* Border input none */
.outline {
    outline: none;
}

/* Disable resizer */
textarea {
    resize: none;
}

/* Vertical center */
.centerVerAndHorizon {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Vertical center */
.centerVertical {
    display: flex;
    align-items: center;
}

/* Font weight */
.fW200 {
    font-weight: 200;
}

.fW300 {
    font-weight: 300;
}

.fW400 {
    font-weight: 400;
}

.fW500 {
    font-weight: 500;
}

.fW600 {
    font-weight: 600;
}

.fW700 {
    font-weight: 700;
}

.fW800 {
    font-weight: 800;
}

/* --------- Animations keyframes --------- */

@keyframes socialMedia {
    from {
        height: 8px;
    }
    to {
        height: 15px;
    }
}

@keyframes socialMediaReverse {
    from {
        height: 15px;
    }
    to {
        height: 8px;
    }
}

@keyframes bgOpacityColor {
    0% {
        height: 0%;
    }
    100% {
        height: 100%;
    }
}

@keyframes bgOpacityColorReverse {
    0% {
        height: 100%;
    }
    100% {
        height: 0%;
    }
}

@keyframes opacityTxt {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes opacityTxtReverse {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}