/* Team images */
.profileImg {
    margin: 5px 5px;
    width: 316px;
    height: 325px;
    background-color: #B2B2B2;
}

/* Flip card */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
  
.flip-card-front {
    position: absolute;
    width: 100%;
    height: 100%;
}
  
.flip-card-front {
    background-color: #FF9C0E;
    color: black;
}

/* Video */
.video {
    margin: 5px 0px 5px 14px;
    width: 565px;
    height: 326px;
    background-color: #B2B2B2;
}

/* Team names */
.profileName {
    margin: 5px 5px;
    width: 316px;
    height: 64px;
    background-color: white;
}

/* Video name */
.videoName {
    margin: 5px 0px 5px 14px;
    width: 570px;
    height: 64px;
    background-color: white;
}

/* Center names */
.names {
    text-align: center;
    font-size: 2rem;
    padding: 15px 0;
    color: #707070;
}