@media only screen 
and (min-device-width: 1100px) 
and (max-device-width: 1250px) 
and (-webkit-min-device-pixel-ratio: 1) { 

html, body, .container {
  overflow-x: hidden;
}

.container {
  max-width: 1360px !important;
}

.topBar {
  width: 100%;
}

.buttonsDiv {
  margin-right: 10px;
}

}

@media only screen 
and (min-device-width: 865px) 
and (max-device-width: 1085px) 
and (-webkit-min-device-pixel-ratio: 1) { 
  
html, body, .container {
  overflow-x: hidden;
}

.container {
  max-width: 1100px !important;
}

.topBar {
  width: 100%;
}

.logo {
  width: 150px;
  height: 150px;
  margin: auto 0;
}

.firstHeaderText, .secondHeaderText {
  font-size: 35px;
}

.btnCareer, .btnContact {
  width: 250px;
}

.buttonsDiv {
  margin-right: 10px;
}

}

@media only screen 
and (min-device-width: 600px) 
and (max-device-width: 865px) 
and (-webkit-min-device-pixel-ratio: 1) { 
  
html, body, .container {
  overflow-x: hidden;
}

.container {
  max-width: 800px !important;
}

.topBar {
  width: 100%;
}

.logo {
  width: 150px;
  height: 150px;
  margin: auto 0;
}

.firstHeaderText, .secondHeaderText {
  font-size: 35px;
}

.btnCareer, .btnContact {
  width: 150px;
}

.buttonsDiv {
  margin-right: 10px;
}

.headerBtnTxt {
  font-size: 25px;
  padding-top: 25px;
}

.contactText {
    font-size: 35px;
}

.headerText {
    margin-top: 32px;
    font-size: 30px;
}

}

@media only screen 
and (min-device-width: 370px) 
and (max-device-width: 600px) 
and (-webkit-min-device-pixel-ratio: 1) { 
  
html, body, .container {
  overflow-x: hidden;
}

.container {
  max-width: 600px !important;
}

.newSubject {
  padding-left: 5px;
}

.topBar {
  width: 100%;
}

.header {
  flex-direction: column;
  height: 100%;
  margin-bottom: 0;
  background-image: none;
  background-color: white;
}

.logo {
  width: 150px;
  height: 150px;
  margin: 10px auto;
}

.weAreDiv {
  text-align: center;
}

.firstHeaderText, .secondHeaderText {
  font-size: 30px;
}

.btnCareer, .btnContact {
  width: 150px;
  background-color: #ffbe61;
}

.buttonsDiv {
  margin: 0 auto;
}

.headerBtnTxt {
  font-size: 25px;
  padding-top: 25px;
  color: white;
}

.headerText {
  font-size: 23px;
  margin-top: 35px;
}

.fileButton, .submitBtnForm, .uploadPdfButton, .downloadButton {
  padding: 15px 50px;
  margin-left: 0px;
  width: 100%;
}

.pricingTitle {
  font-size: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eulaText {
  margin-right: 0;
  font-size: 25px;
  text-align: center;
}

}

@media only screen 
and (min-device-width: 370px) 
and (max-device-width: 450px) 
and (-webkit-min-device-pixel-ratio: 1) {

.textDiv, .priceInfo {
  width: 100%;
}
  
}