@keyframes arrowMovement {
    0% {
        margin-bottom: 10px;
    }

    50% {
        margin-bottom: 30px;
    }

    100% {
        margin-bottom: 10px;
    }
}

.arrowDown {
    animation-name: arrowMovement;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes smiggleRotate {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-20deg);
    }

    75% {
        transform: rotate(20deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.contactImg:hover {
    animation-name: smiggleRotate;
    animation-duration: 1s;
}

@keyframes portfolioLink {
    0% {
        padding: 18px;
    }

    100% {
        padding: 25px;
    }
}

.link:hover {
    animation-name: portfolioLink;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}

/* @keyframes navLine {
    0% {
        text-decoration: none;
        margin-bottom: 0px !important;
    }

    100% {
        text-decoration: underline;
        margin-bottom: 30px !important;
    }
}

.nav-link:hover {
    animation-name: navLine !important;
    animation-duration: 1s !important; 
    animation-fill-mode: forwards !important;
} */



/* @keyframes cardBackground {
    0% {
        background-image: linear-gradient(#BBDEE6 30%, #fff 30%);
    }

    100% {
        background-image: linear-gradient(#BBDEE6, #fff);
    }
}

.cardColor:hover {
    animation-name: cardBackground;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
} */