* {
    font-family: 'Oxanium', cursive;
}

.noMargin {
    margin: 0 !important;
    padding: 0 !important;
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1484px !important;
    }
}

.mainPage {
    background-image: url('./images/mainPage.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.navbar {
    padding-top: 20px !important;
    padding-left: 20px !important;
}

.navbar-brand {
    font-size: 35px !important;
    color: white !important;
}

.nav-link {
    font-size: 25px !important;
    color: white !important;
}

.nav-item {
    margin: 0px 10px !important;
}

.arrowDown {
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-bottom: 10px;
    cursor: pointer;
}

.orangeColor {
    color: #FFAD39;
    opacity: .77;
}

.navItems {
    font-size: 20px;
    color: #C9C9C9;
    margin-left: auto;
}

.footer {
    margin-top: 50px;
    box-shadow: 0 -5px 8px -3px #dedede;
    height: 70px;
}

body > nav.footer.navbar.navbar-expand-lg.bgWhite > div > div.d-flex.flex-row.d-flex.justify-content-between > div:nth-child(1) > a {
    margin-right: 0px;
}