* {
    font-family: 'Oxanium', cursive;
}

html {
    overflow-x: hidden;
}

.nav-item {
    list-style-type: none;
}

.nav-link {
    margin-bottom: 0px !important;
    color: red;
}

.form-control:focus {
    border: 1px solid #ced4da !important;
    box-shadow: none !important;
}

.orangeColor {
    color: #FFAD39;
    opacity: .77;
}

.headerColor {
    color: #515151;
    opacity: .77;
}

.mainText {
    color: #515151;
    opacity: .89;
}

.textDiv {
    color: white;
    position: absolute;
    top: 70%;
    left: 50px;
}

.bigText {
    font-size: 75px;
}

.bigTextColor {
    color: #E79B27;
}

.smallText {
    font-size: 55px;
    font-weight: 200;
    line-height: 1.5;
    margin-bottom: 0;
}

.extraSmallText {
    font-size: 25px;
    font-weight: 200;
}

.noMargin {
    margin: 0 !important;
    padding: 0 !important;
}

.container {
    margin-top: 50px;
    max-width: 95% !important;
}

.mainPage {
    /* background-image: url('./images/mainPage.png');
    background-repeat: no-repeat; */
    width: 100%;
    height: 100vh;
}

.video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
}

.navbar {
    padding-top: 20px !important;
    padding-left: 20px !important;
}

.navbar-brand {
    font-size: 35px !important;
    color: white !important;
}

.nav-link {
    font-size: 25px !important;
    color: white !important;
    margin-bottom: 0px !important;
}

.nav-item:hover {
    margin-bottom: 30px !important;
}

@keyframes navLine {
    0% {
        text-decoration: none;
        margin-bottom: 0px !important;
    }

    100% {
        text-decoration: underline;
        margin-bottom: 30px !important;
    }
}

.nav-link:hover {
    animation-name: navLine !important;
    animation-duration: 1s !important; 
    animation-fill-mode: forwards !important;
}

.nav-item {
    margin: 0px 25px !important;
}

.arrowDown {
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-bottom: 10px;
    cursor: pointer;
}

.headerText {
    font-size: 58px;
}

hr {
    color: #5E5E5E !important;
    opacity: .43 !important;
    border-top: 3px solid !important;
    margin: 0 !important;
}

.aedionStudioText {
    font-size: 33px;
    font-weight: 300;
    margin-top: 10px;
}

.teamDiv {
    background-color: #F2F2F2;
    width: 100%;
    height: 100%;
}

.cardColor {
    width: 100%;
    height: 580px;
    background-image: linear-gradient(#BBDEE6 30%, #fff 30%);
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 35px;
}

.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}

.profileImg {
    width: 166px;
    margin-top: 55px;
}

.nameText {
    font-size: 34px;
    color: #515151;
    opacity: .6;
    font-weight: 600;
}

.nameDescr {
    font-size: 29px;
    color: #515151;
    opacity: .5;
    font-style: normal;
    font-weight: lighter;
    line-height: 30px;
    margin-top: 10px;
}

.iconDiv {
    margin-top: 60px !important;
}

.icons {
    margin: 0 10px;
}

.link {
    float: right;
    padding: 18px;
    border-radius: 30px;
    background-color: #BFE3EB;
    margin-top: -50px;
    margin-right: -20px;
    box-shadow: 0px 5px 10px -7px black;
}

.productsDiv {
    position: relative;
}

.gameBackground {
    z-index: -1;
    position: absolute;
}

.gameLogo {
    margin-left: 40px;
    margin-top: 20px;
}

.gameTitle {
    font-size: 71px;
    margin-left: 70px;
    color: white;
}

.two {
    color: #DF5B5B;
}

.gameDescr {
    margin-top: 150px;
    margin-bottom: 0px;
    margin-left: 40px;
    color: white;
    font-size: 33px;
}

.gameLinks {
    margin-top: auto !important;
}

.gameIcon {
    margin-right: 30px;
}

.carousel-indicators [data-bs-target] {
    text-indent: 0 !important;
}

.carLogo {
    width: 100px;
    margin-top: -20px;
    padding-right: 20px;
}

.carousel-indicators [data-bs-target] {
    height: 0px !important;
    margin-top: -45%;
    width: 90px !important;
}

.carousel-control-next, .carousel-control-prev {
    bottom: unset !important;
    top: 35px !important;
}

.carousel-control-next {
    right: -100px !important;
}

.carousel-control-prev {
    right: 240px !important;
    left: unset !important;
}

.carousel-indicators {
    right: -220px !important;
    bottom: -97px !important;
}

.contactImg {
    width: 500px !important;
    margin: 0 auto;
    margin-bottom: 50px;
    transform: rotate(0deg);
}

.formColor {
    color: #919191;
}

.rowHeight {
    height: 100%;
}

.submitBtn {
    height: 60px;
    background-color: #FFD787 !important;
    border: none !important;
    font-size: 30px !important;
    font-weight: 600 !important;
}

/* -------------------------------------------------- */
.navItems {
    font-size: 20px;
    color: #C9C9C9;
    margin-left: auto;
}

.footer {
    margin-top: 50px;
    box-shadow: 0 -5px 8px -3px #dedede;
    height: 70px;
}

#app > nav > div.col.col-xl-1 {
    width: 5.33333333%;
}

.lineHeight {
    line-height: 0.2;
}

.footerTextDiv {
    margin-top: 35px;
}

.footerColor {
    color: #C6C6C6 !important;
}

body > nav.footer.navbar.navbar-expand-lg.bgWhite > div > div.d-flex.flex-row.d-flex.justify-content-between > div:nth-child(1) > a {
    margin-right: 0px;
}