<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Add stylesheet --> 
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="stylesheet" href="./styles/header.css">
    <link rel="stylesheet" href="./styles/products.css">
    <link rel="stylesheet" href="./styles/socialMedia.css">
    <link rel="stylesheet" href="./styles/form.css">
    <link rel="stylesheet" href="./styles/service.css">
    <link rel="stylesheet" href="./styles/footer.css">
    <link rel="stylesheet" href="./styles/responsive.css">


    <!-- Add Google font Oxanium --> 
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@200&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@800&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Title --> 
    <title>Aedion Studio</title>

    <link rel="icon" href="./image/AedionStudio.png">
</head>
<body>

    <!-- Topbar orangje background --> 
    <div class="topBar boxShadow"></div>

    <!-- Main container div -->
    <div class="container" id="app">

        <!-- Header -->
        <header class="header bgWhite boxShadow">

            <!-- Logo of AedionStudio-->
            <img src="./image/AedionStudio.png" class="logo">

            <!-- We are AedionStudio div -->
            <div class="weAreDiv bgWhite">
                <p class="firstHeaderText bgWhite">{{ text.headerTxt }}</p>
                <h1 class="secondHeaderText bgWhite">{{ text.headerAedionTxt }}</h1>
            </div>

            <!-- Buttons -->
            <div class="buttonsDiv">
                <div class="btnCareer">
                    <p class="headerBtnTxt pointer transparant">{{ text.headerCareerTxt }}</p>
                </div>
                <div class="btnContact">
                    <a href="./down2dieSite/index.html">
                        <p class="headerBtnTxt pointer transparant">{{ text.headerContactTxt }}</p>
                    </a>
                </div>
            </div>

            <!--  -->
        </header>

    <!-- Whitespace -->
    <div class="gap"></div>
        
        <!-- Our team div -->
        <div class="newSubject">
            <p class="headerText bgWhite">{{ text.ourTeamTxt }}</p>
        </div>
    
    <!-- Whitespace -->
    <div class="gap"></div>
        
        <!-- Team -->
        <div class="row">
            <div class="flip-card profileImg boxShadow pointer" v-for="profile in teamProfiles" @click="getProfile(profile)">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img :src="profile.image" class="w100 h100">
                    </div>
                    <div class="flip-card-back">
                        <h1 class="txtBackground">{{ profile.name }}</h1> 
                        <p class="txtBackground">{{ profile.function }}</p> 
                        <p class="txtBackground">We love that guy</p>
                    </div>
                </div>
            </div>

            <!-- Aedion Studio video-->
            <div class="video boxShadow">
                <iframe 
                width="100%" 
                height="100%" 
                src="https://www.youtube.com/embed/7o_BjY_FDms" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
                </iframe>
            </div>
        </div>

        <!-- Team names -->
        <div class="row">

            <!-- Team names -->
            <div class="profileName boxShadow" v-for="profile in teamProfiles">
                <p class="names bgWhite">{{ profile.name }}</p>
            </div>

            <!-- Aedion Studio video-->
            <div class="videoName boxShadow">
                <p class="names bgWhite">AEDION STUDIO INTRO</p>
            </div>
        </div>

    <div class="gap"></div>

        <!-- Our games -->
        <div class="newSubject row">
            <p class="headerText bgWhite">{{ text.ourGamesTxt }}</p>
            <!-- <input type="text" placeholder="Search.." class="searchBar">
            <img src="./image/searchIcon.png" class="searchIcon"> -->
        </div>
    
    <div class="gap"></div>

        <!-- Game card div -->
        <div class="gamesDiv">
            <img src="./image/down2dieImg.png" class="gameImg bgWhite">
            <div class="row bgWhite">

                <!-- Buttons -->
                <div class="columnGame bgWhite">
                    <div class="gameBtn boxShadow row bgWhite pointer">
                        <img :src="down2dieCard.gameLogo" class="iconSize">
                        <p class="gameName w100 vrAlign bgWhite">{{ down2dieCard.gameNameTxt }}</p>
                    </div>

                    <div class="buyGameBtn boxShadow row bgWhite pointer">
                        <a :href="down2dieCard.steamLink" class="linkGame bgWhite" target="_blank">
                            <img :src="icons.steamIcon" class="iconSize">
                            <p class="gameName w100 vrAlign bgWhite">{{ down2dieCard.buyGameTxt }}</p>
                        </a>
                    </div>

                    <div class="socialAndTrelloBtn boxShadow row bgWhite pointer">
                        <a :href="down2dieCard.trelloLink" class="linkGame bgWhite" target="_blank">
                            <img :src="icons.facebookIcon" class="iconSize">
                            <p class="gameName w100 vrAlign bgWhite">{{ down2dieCard.updateTxt }}</p>
                        </a>
                    </div>

                    <div class="socialAndTrelloBtn boxShadow row bgWhite pointer">
                        <a :href="down2dieCard.trelloLink" class="linkGame bgWhite" target="_blank">
                            <img :src="icons.trelloIcon" class="iconSize">
                            <p class="gameName w100 vrAlign bgWhite">{{ down2dieCard.trelloTxt }}</p>
                        </a>
                    </div>
                </div>

                <!-- Game info -->
                <div class="gameInfo bgWhite row">
                    <div class="lineCard"></div>
                    <p class="infoText bgWhite">
                        {{ down2dieCard.gameInfo }}
                    </p>
                </div>
            </div>
        </div>

    <div class="gap"></div>

        <!-- Social media -->
        <div class="newSubject">
            <p class="headerText bgWhite">{{ text.socialMediaTxt }}</p>
        </div>

    <div class="gap"></div>

        <!-- Social media buttons -->
        <div class="row">
            <div class="socialDiv pointer" v-for="socialMedia in socialMediaBtn">
                <a :href="socialMedia.link" target="_blank">
                    <img :src="socialMedia.image" class="socicalIcon bgWhite">
                    <div class="line" :class='socialMedia.classColor'></div>
                    <div class="lineBg" :class='socialMedia.classColor'>
                        <p class="lineTxt">JOIN US</p>
                    </div>
                </a>
            </div>
        </div>
        
    <div class="gap"></div>

        <!-- Contact form -->
        <div class="newSubject">
            <p class="headerText bgWhite">{{ text.contactFormTxt }}</p>
        </div>
    
    <div class="gap"></div>

        <!-- Form -->
        <div class="row w100">
            <div class="formDiv bgWhite w100">
                <form @submit.prevent="formSend()" class="form">
                    <div class="row bgWhite w100">
                        <div class="formColumn bgWhite w100">
                            <input type="text" placeholder="TITLE" class="formInput outline" v-model="contact.formData.title" required>
                        </div>
                    </div>
                    <div class="row bgWhite">
                        <div class="textareaColumn bgWhite">
                            <textarea rows="7" cols="32" placeholder="MESSAGE.." class="textarea outline" v-model="contact.formData.body" required></textarea>
                        </div>
                        <div class="column transparant">
                            <div class="gap transparant"></div>
                            <div class="transparant contactColor submitBtn boxShadow">
                                <p class="submitText transparant pointer">CONTACT</p>
                            </div>
                            <div class="transparant supportColor submitBtn boxShadow">
                                <p class="submitText transparant pointer">SUPPORT</p>
                            </div>
                            <a :href="`mailto:${contact.aedionStudioEmail}?subject=${contact.formData.title}&body=${contact.formData.body}`" 
                            class="aBtn submitBtn submitColor transparant boxShadow">
                                <p class="submitText transparant pointer">SUBMIT</p>
                            </a>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Service Div -->
            <div class="serviceDiv transparant">
                <div class="serviceHeader boxShadow transparant">
                    <p class="serviceText transparant">{{ text.servicesTxt }}</p>
                </div>
                <div class="ourServices transparant w100">
                    <div class="serviceProduct transparant boxShadow" v-for="service in services">
                        <p class="productHeadText transparant">{{ service.serviceText }}</p>
                        <p class="productInfo transparant">{{ service.serviceInfo }}</p>
                    </div>
                </div>
            </div>
        </div>

    <div class="gap"></div>

        <!-- Footer div -->
        <div class="footer">
            <div class="row bgWhite">
                <!-- <div class="vrLine"></div> -->
                <div class="service column bgWhite" v-for="footer in footerBar">
                    <p class="footerHead bgWhite">{{ footer.headTxt }}</p>
                    <li class="li bgWhite" v-for="subject in footer.subjects">{{ subject.text }}</li>
                </div>
                

                <div class="signUpDiv bgWhite">
                    <form class="bgWhite">
                            <p class="signUpTxt bgWhite">{{ text.signUpTxt }}</p>
                            <p class="newsLetterTxt bgWhite">{{ text.newsletterTxt }}</p>
                        <input type="email" placeholder="EMAIL.." class="subsEmail outline" required>
                    </form>
                </div>
            </div>
        </div>

    <div class="gap"></div>

        <!-- Copyright div -->
        <div class="newSubject">
            <div class="row bgWhite">
                <p class="headerText bgWhite">{{ text.copyrightTxt }}</p>
                <img src="./image/AedionStudio.png" class="copyrightIcon bgWhite">
            </div>
        </div>

    <div class="gap"></div>

    </div>
    <script src="index.js"></script>
</body>
</html>