<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Add stylesheet --> 
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="stylesheet" href="./styles/header.css">
    <link rel="stylesheet" href="./styles/team.css">
    <link rel="stylesheet" href="./styles/products.css">
    <link rel="stylesheet" href="./styles/blog.css">
    <link rel="stylesheet" href="./styles/socialMedia.css">
    <link rel="stylesheet" href="./styles/form.css">
    <link rel="stylesheet" href="./styles/service.css">
    <link rel="stylesheet" href="./styles/footer.css">
    <link rel="stylesheet" href="./styles/responsive.css">

    <!-- Add Google font Oxanium --> 
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@800&display=swap" rel="stylesheet">

    <!-- Vue js import-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Title --> 
    <title>Aedion Studio</title>

    <link rel="icon" href="./image/AedionStudio.png">
</head>
<body>

    <!-- Topbar orangje background --> 
    <div class="topBar boxShadow"></div>

    <!-- Main container div -->
    <div class="container" id="app">

        <!-- Header -->
        <header class="header transparant">

            <!-- Logo of AedionStudio-->
            <img src="./image/AedionStudio.png" class="logo">

            <!-- We are AedionStudio div -->
            <div class="weAreDiv transparant">
                <p class="firstHeaderText transparant">{{ text.headerTxt }}</p>
                <h1 class="secondHeaderText transparant">{{ text.headerAedionTxt }}</h1>
            </div>

            <!-- Buttons -->
            <div class="buttonsDiv">
                <div class="btnCareer">
                    <a href="./quotation.html">
                        <p class="headerBtnTxt pointer transparant">{{ text.headerCareerTxt }}</p>
                    </a>
                </div>
                <div class="btnContact">
                    <a href="./contact.html">
                        <p class="headerBtnTxt pointer transparant">{{ text.headerContactTxt }}</p>
                    </a>
                </div>
            </div>
        </header>

    <!-- Whitespace -->
    <div class="gap"></div>
        
        <!-- Our team div -->
        <div class="newSubject">
            <p class="headerText transparant">{{ text.ourTeamTxt }}</p>
        </div>
    
    <!-- Whitespace -->
    <div class="gap"></div>
        
        <!-- Team -->
        <div class="profImg row">
            <div class="profileImg boxShadow pointer" v-for="profile in teamProfiles" @click="getProfile(profile)">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img :src="profile.image" class="w100 h100">
                        <p class="names bgWhite">{{ profile.name }}</p>
                    </div>
                </div>
            </div>

            <!-- Aedion Studio video-->
            <div class="video boxShadow">
                <iframe 
                width="100%" 
                height="100%" 
                src="https://www.youtube.com/embed/7o_BjY_FDms" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
                </iframe>
                <p class="names bgWhite">AEDION STUDIO INTRO</p>
            </div>
        </div>

        <!-- Our services -->
        <div class="ourGameHeader newSubject">
            <p class="headerText transparant">{{ text.servicesTxt }}</p>
        </div>
    
    <div class="gap"></div>

        <div class="column">
            <div class="row">
                <a href="./products.html">
                    <div class="websiteService">
                        <p class="websiteServiceTxt">Websites</p>
                    </div>
                </a>
                <div class="modelingService">
                    <p class="modelingServiceTxt">3D Modeling</p>
                </div>
            </div>
            <div class="row">
                <div class="musicService">
                    <p class="musicServiceTxt">Music & Sound</p>
                </div>
                <div class="gamesService">
                    <p class="gamesServiceTxt">Games</p>
                </div>
            </div>
        </div>

    <div class="gap"></div>

        <!-- Social media -->
        <div class="newSubject">
            <p class="headerText transparant">{{ text.socialMediaTxt }}</p>
        </div>

    <div class="gap"></div>

        <!-- Social media buttons -->
        <div class="social row pointer" v-for="socialMedia in socialMediaBtn">
            <a :href="socialMedia.link" target="_blank">
                <div class="socialDiv row">
                    <img :src="socialMedia.image" class="socicalIcon bgWhite">
                    <p class="socialTxt transparant">{{ socialMedia.name }}</p>
                    <div class="line" :class='socialMedia.classColor'></div>
                    <div class="lineBg" :class='socialMedia.classColor'></div>
                </div>
            </a>
        </div>
        
    <div class="gap"></div>

        <!-- Contact form -->
        <div class="newSubject">
            <p class="headerText transparant">{{ text.contactFormTxt }}</p>
        </div>
    
    <div class="gap"></div>

        <!-- Form -->
        <div class="forms row w100">
            <div class="formDiv transparant w100">
                <form @submit.prevent="formSend()" class="form">
                    <div class="row transparant w100">
                        <div class="formColumn bgWhite w100">
                            <input type="text" placeholder="Title" class="formInput outline" v-model="contact.formData.title" required>
                        </div>
                    </div>
                    <div class="formRow row bgWhite">
                        <div class="textareaColumn bgWhite">
                            <textarea rows="9" cols="30" placeholder="Message.." class="textarea outline" v-model="contact.formData.body" required></textarea>
                        </div>
                        <div class="column transparant">
                            <div class="formColumn bgWhite w100">
                                <input type="text" placeholder="Name" class="formInput2 outline" v-model="contact.formData.name" required>
                                <input type="text" placeholder="Gender" class="formInput2 outline" v-model="contact.formData.gender">
                            </div>
                            <div class="transparant supportColor submitBtn boxShadow">
                                <p class="submitText transparant pointer">SUPPORT</p>
                            </div>
                            <a :href="`mailto:${contact.aedionStudioEmail}?subject=${contact.formData.title}&body=Name: ${contact.formData.name} %0D%0AGender: ${contact.formData.gender} %0D%0A${contact.formData.body}`" 
                            class="aBtn submitBtn submitColor transparant boxShadow">
                                <p class="submitText transparant pointer">SUBMIT</p>
                            </a>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Service Div -->
            <div class="blogDiv transparant">
                <div class="blogHeader boxShadow transparant">
                    <p class="blogTitle transparant">{{ text.servicesTxt }}</p>
                </div>
                <div class="blogItems transparant w100">
                    <a href="./blog.html">
                        <div class="blogItem transparant boxShadow" v-for="blogs in blog">
                            <p class="blogItemHeaderText transparant">{{ blogs.title }}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <!-- Footer div -->
        <div class="footer">
            <div class="row bgWhite">
                <!-- <div class="vrLine"></div> -->
                <div class="service column bgWhite" v-for="footer in footerBar">
                    <p class="footerHead bgWhite">{{ footer.headTxt }}</p>
                    <li class="li bgWhite" v-for="subject in footer.subjects">{{ subject.text }}</li>
                </div>
                
                <div class="signUpDiv bgWhite">
                    <form class="bgWhite">
                            <p class="signUpTxt bgWhite">{{ text.signUpTxt }}</p>
                            <p class="newsLetterTxt bgWhite">{{ text.newsletterTxt }}</p>
                        <input type="email" placeholder="EMAIL.." class="subsEmail outline" required>
                    </form>
                </div>
            </div>
        </div>

    <div class="gap"></div>

        <!-- Copyright div -->
        <div class="copyRightDiv">
            <div class="row bgWhite">
                <p class="headerText bgWhite">{{ text.copyrightTxt }}</p>
                <img src="./image/AedionStudio.png" class="copyrightIcon bgWhite">
            </div>
        </div>

    <div class="gap"></div>

    </div>
    <script src="index.js"></script>
</body>
</html>