/* Everythinh on deftault */
* {
    margin: 0;
    padding: 0;
    background-color: #E4E4E4;
    font-family: 'Oxanium', cursive;
}

html {
    zoom: 80%;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }

/* --------- Usefull classes --------- */

/* Background color white */
.bgWhite {
    background-color: white;
}

/* Space */
.gap {
    width: 100%;
    height: 30px;
}

/* Create a row */
.row {
    display: flex;
    flex-direction: row;
}

/* Column */
.column {
    display: flex;
    flex-direction: column;
}

/* Transparant background color */
.transparant {
    background-color: transparent;
}

/* Create subject div */
.newSubject {
    width: 100%;
    height: 98px;
    border-left: 13px solid #FF9C0E;
    padding-left: 25px;
    background-color: white;
    box-shadow: -3px 3px 10px #888888;
    z-index: 0;
    font-size: 35px;
}

/* Box shadow */
.boxShadow {
    box-shadow: -3px 3px 10px #888888;
}

/* Width 100%*/
.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

/* Vertical ag*/
.vrAlign {
    display: flex;
    justify-content: start;
    align-items: center;
}

/* Text of newSubject */
.headerText {
    margin-top: 30px;
}

/* Flex wrap */
.wrap {
    display: flex;
    flex-wrap: wrap;
}

/* Cursor click mode */
.pointer {
    cursor: pointer;
}

/* Border input none */
.outline {
    outline: none;
}

/* --------- Animations keyframes --------- */

@keyframes socialMedia {
    from {
        height: 8px;
    }
    to {
        height: 15px;
    }
}

@keyframes socialMediaReverse {
    from {
        height: 15px;
    }
    to {
        height: 8px;
    }
}

@keyframes bgOpacityColor {
    from {
        height: 0%;
    }
    to {
        height: 100%;
    }
}

@keyframes bgOpacityColorReverse {
    from {
        height: 100%;
    }
    to {
        height: 0%;
    }
}

/* --------- html classes --------- */

/* Orangje top bar */
.topBar {
    background-color: #FFB040;
    width: 100%;
    height: 204px;
    position: absolute;
}

/* Container */
.container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 102px;
    max-width: 1563px;
    margin: 0 auto;
    z-index: 1;
}

/* Header */
.header {
    width: 100%;
    height: 222px;
    z-index: 2;
    display: flex;
    flex-direction: row;
}

/* Logo image */
.logo {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    background-color: transparent;
}

/* We are AedionStudio text div */
.weAreDiv {
    margin: auto 0px;
}

/* First text */
.firstHeaderText {
    font-size: 2.875rem;
    font-weight: lighter;
}

/* Second text */
.secondHeaderText {
    font-size: 2.875rem;
    font-weight: 900;
    color: #FFA92E;
}

/* Header buttons */
.buttonsDiv {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 50px;
    background-color: white;
}

.btnCareer, .btnContact {
    background: linear-gradient(to right, #FFC97E , #FFB44B);
    width: 304px;
    height: 76px;
    margin-bottom: 10px;
    text-align: center;
}

.headerBtnTxt {
    padding-top: 15px;
    font-size: 2.625rem;
    font-weight: bold;
    color: white;
}

/* Team images */
.profileImg {
    margin: 5px 5px;
    width: 316px;
    height: 325px;
    background-color: #B2B2B2;
}

/* Video */
.video {
    margin: 5px 0px 5px 14px;
    width: 570px;
    height: 326px;
    background-color: #B2B2B2;
}

/* Team names */
.profileName {
    margin: 5px 5px;
    width: 316px;
    height: 64px;
    background-color: white;
}

/* Video name */
.videoName {
    margin: 5px 0px 5px 14px;
    width: 570px;
    height: 64px;
    background-color: white;
}

/* Center names */
.names {
    text-align: center;
    font-size: 2rem;
    margin-top: 15px;
}

/* Searchbar input */
.searchBar {
    width: 522px;
    height: 72px;
    background-color: #7b7b7b24;
    border: none;
    margin-top: 10px;
    margin-left: auto;
    font-size: 40px;
}

/* Search icon */
.searchIcon {
    z-index: 1;
    width: 65px;
    height: 65px;
    margin-top: 15px;
}

/* Games */
.gamesDiv {
    width: 100%;
    height: 369px;
    padding-left: 10px;
    margin-top: 10px;
    background-color: white;
}

/* Image of game */
.gameImg {
    float: right;
    width: 750px;
    height: 100%;
}

/* Coulumn of game div */
.columnGame {
    display: flex;
    flex-direction: column;
    padding: 5px 5px;
    padding-right: 15px;
}

/* Game button */
.gameBtn {
    width: 316px;
    height: 75px;
    margin-top: -23px;
    border-left: 7px solid #D47070;
}

/* Steam button */
.buyGameBtn {
    width: 316px;
    height: 75px;
    margin-top: 20px;
    border-left: 7px solid #D47070;
}

/* Facebook and trello button */
.socialAndTrelloBtn {
    width: 316px;
    height: 75px;
    margin-top: 10px;
    border-left: 7px solid #D47070;
}

/* Images of buttons */
.iconSize {
    width: 53px;
    height: 53px;
    margin: 10px;
}

/* Names of buttons */
.gameName {
    font-size: 2.438rem;
    padding-left: 5px;
}

/* Information of the game div */
.gameInfo {
    width: 619px;
    margin: 15px 10px;
}

/**/
.lineCard {
    width: 5px;
    height: 330px;
    background-color: #AF7575;
    border: 3px solid #AF7575;
    margin-right: 10px;
}

/* Information of the game text */
.infoText {
    font-size: 1.688rem;
}

/* Social media div*/
.socialDiv {
    width: 243px;
    height: 183px;
    background-color: white;
    margin-right: 21px;
    text-align: center;
    line-height: 170px;
    position: relative;
}

/* Social icons */
.socicalIcon {
    width: 133px;
    height: 133px;
    vertical-align: middle;
}

/* Lines social media */
.line {
    width: 100%;
    height: 8px;
    position: absolute;
    bottom: 0px;
}

/* Social media bar animation */
.socialDiv:hover .line {
    animation-name: socialMedia;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

/* Social media bar animation reverse */
.socialDiv .line {
    animation-name: socialMediaReverse;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

/* Social media background opacity */
.lineBg {
    width: 100%;
    height: 0%;
    position: absolute;
    bottom: 0px;
    background-color: #B0BFFC;
    opacity: 0.5;
}

/* Social media background opacity animation */
.socialDiv:hover .lineBg {
    animation-name: bgOpacityColor;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

/* Social media background opacity animation reverse */
.socialDiv .lineBg {
    animation-name: bgOpacityColorReverse;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.lineBlue {
    background-color: #B0BFFC;
}

.linePink {
    background-color: #FCB0B0;
}

.lineBabyBlue {
    background-color: #CEF2FF;
}

.lineYellow {
    background-color: #FFFACE;
}

.lineBabyPurple {
    background-color: #FFCEFF;
}

.lineRed {
    background-color: #FF8282;
}

/* Form Div */
.formDiv {
    width: 925px;
    height: 445px;
}

/* Title, name, email input div */
.formColumn {
    display: flex;
    flex-direction: column;
}

/* Input form */
.formInput {
    font-size: 2.188rem;
    width: 279px;
    height: 68px;
    margin: 11px 10px 0px 10px;
    padding-left: 5px;
    border: none;
    border-left: 5px solid #FFBE61;
}

/* Textarea input div*/
.textareaColumn {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 10px;
}

/* Textarea */
.textarea {
    border: none;
    font-size: 2.188rem;
}

/* Submit button */
.submitBtn {
    width: 297px;
    height: 77px;
    background-color: #FFBE61;
    color: white;
    font-size: 2.188rem;
    text-align: center;
    float: right;
    margin: 20px 10px;
}

/* Submit text */
.submitText {
    margin-top: 20px;
}

/* Side div*/
.sideDiv {
    width: 622px;
    height: 445px;
    margin-left: 15px;
}

/* Footer */
.footer {
    width: 100%;
    height: 247px;
    padding-left: 10px;
    margin-top: 10px;
    background-color: white;
    border-left: 13px solid #FF9C0E;
}

/* Footer text */
.service {
    margin: 25px 10px;
    padding-left: 15px;
    border-left: 3px solid #A0A0A0;
    text-align: center;
}

.vrLine {
    margin: 25px 10px;
    width: 3px;
    height: 175px;
    background-color: #A0A0A0;
}

.footerHead {
    font-size: 2.188rem;
    color: #707070;
}

.li {
    margin-left: 10px;
    margin-right: 50px;
}

/* Newsletter div */
.signUpDiv {
    margin-left: auto;
    margin-top: auto;
    margin-right: 100px;
}

.signUpTxt {
    font-size: 2.188rem;
    color: #707070;
    line-height: 0.5;
}

.newsLetterTxt {
    font-size: 2.063rem;
    color: #A1A1A1;
    margin-left: auto;
}

/* Input form */
.subsEmail {
    font-size: 2.188rem;
    width: 458px;
    height: 68px;
    padding-left: 5px;
    border: none;
    border-left: 5px solid #FFBE61;
}

/* Copyright div*/
.copyrightText {
    font-size: 1.75rem;
}

.copyrightIcon {
    width: 95px;
    height: 95px;
    margin-left: auto;
    margin-right: 10px;
}