<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <!-- Add stylesheet --> 
        <link rel="stylesheet" href="./styles/style.css">
        <link rel="stylesheet" href="./styles/header.css">
        <link rel="stylesheet" href="./styles/profile.css">
        <link rel="stylesheet" href="./styles/service.css">
        <link rel="stylesheet" href="./styles/footer.css">
        <link rel="stylesheet" href="./styles/responsive.css">
    
    
        <!-- Add Google font Oxanium --> 
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@200&display=swap" rel="stylesheet">
    
        <link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@800&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
        <!-- Title --> 
        <title>Aedion Studio</title>
    
        <link rel="icon" href="./image/AedionStudio.png">
    </head>
<body>
    <!-- Topbar orangje background --> 
    <div class="topBar boxShadow"></div>

    <!-- Main container div -->
    <div class="container" id="app">

        <!-- Header -->
        <header class="header transparant">

            <!-- Logo of AedionStudio-->
            <img src="./image/AedionStudio.png" class="logo">

            <!-- I am Mustafa Bolat div -->
            <div class="weAreDiv transparant">
                <p class="firstHeaderText transparant">{{ text.headerAedionTxt }}</p>
                <h1 class="secondHeaderText transparant">{{ text.personTxt }}</h1>
            </div>

            <!-- Buttons -->
            <div class="buttonsDiv">
                <div class="btnCareer">
                    <a href="./index.html">
                        <p class="headerBtnTxt pointer transparant">{{ text.headerReturnTxt }}</p>
                    </a>
                </div>
                <div class="btnContact" @click="download">
                    <p class="cvBtnTxt pointer transparant">{{ text.headerCvTxt }}</p>
                </div>
            </div>
        </header>

    <!-- Whitespace -->
    <div class="gap"></div>
        
        <!-- About me div -->
        <div class="newSubject">
            <p class="headerText transparant">{{ text.galleryTxt }}</p>
        </div>

    <!-- Whitespace -->
    <div class="gap"></div>

        <!-- Profile -->
        <div class="w100 wrap row">
            <div class="profileInfo column">
                <p class="personName transparant">{{ text.myGallery }}Y</p>
                <p class="personDescr transparant">{{ profile.description }}</p>
            </div>
            <div class="profileImageDiv column">
                <img :src="profile.image" class="profileImg">
                <div class="profileNameDiv bgWhite">
                    <p class="name centerVerAndHorizon transparant">{{ profile.name }}</p>
                </div>
            </div>
        </div>
    
    <div class="gap"></div>

        <div class="newSubject">
            <p class="headerText transparant">{{ text.galleryImgTxt }}</p>
        </div>

    <div class="gap"></div>

        <div class="column">
            <div class="wrap row">
                <a href="./products.html">
                    <div class="websiteService">
                        <p class="websiteServiceTxt">{{ text.service.websiteTxt }}</p>
                    </div>
                </a>
                <div class="modelingService">
                    <p class="modelingServiceTxt">{{ text.service.modellingTxt }}</p>
                </div>
            </div>
            <div class="row">
                <div class="musicService">
                    <p class="musicServiceTxt">{{ text.service.musicTxt }}</p>
                </div>
                <div class="gamesService">
                    <a href="./down2dieWiki/index.php">
                        <p class="gamesServiceTxt">{{ text.service.gamesTxt }}</p>
                    </a>
                </div>
            </div>
        </div>

    <div class="gap"></div>
        
        <!-- Footer div -->
        <div class="footer">
            <div class="row bgWhite">
                <!-- <div class="vrLine"></div> -->
                <div class="service column bgWhite" v-for="footer in footerBar">
                    <p class="footerHead bgWhite">{{ footer.headTxt }}</p>
                    <li class="li bgWhite" v-for="subject in footer.subjects">{{ subject.text }}</li>
                </div>
                
                <div class="signUpDiv bgWhite">
                    <form class="bgWhite">
                            <p class="signUpTxt bgWhite">{{ text.signUpTxt }}</p>
                            <p class="newsLetterTxt bgWhite">{{ text.newsletterTxt }}</p>
                        <input type="email" placeholder="EMAIL.." class="subsEmail outline" required>
                    </form>
                </div>
            </div>
        </div>

    <div class="gap"></div>

        <!-- Copyright div -->
        <div class="copyRightDiv">
            <div class="row bgWhite">
                <p class="headerText bgWhite">{{ text.copyrightTxt }}</p>
                <img src="./image/AedionStudio.png" class="copyrightIcon bgWhite">
            </div>
        </div>

    <div class="gap"></div>
    </div>

    <script src="./index.js"></script>
</body>
</html>